rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function admin() { return signedIn() && request.auth.token.email == 'wasifsher00788@gmail.com'; }
    match /{collection}/{doc} {
      allow read: if signedIn();
      allow create, update, delete: if admin();
    }
  }
}
